In [4]:
#Upload the CSV file
import pandas as pd


from google.colab import files

uploaded = files.upload()

Saving df_thefts_mun_code.csv to df_thefts_mun_code.csv

In [5]:
#Create a dataframe with the csv uploaded
import io
df_original = pd.read_csv(io.BytesIO(uploaded['df_thefts_mun_code.csv']))

In [6]:
#Check the first 5 rows
df_original.head()

   year           state       municipio  tomas codigo inegi
0  2000  aguascalientes  aguascalientes      2        01001
1  2001  aguascalientes  aguascalientes      1        01001
2  2002  aguascalientes  aguascalientes      1        01001
3  2013  aguascalientes  aguascalientes      1        01001
4  2014  aguascalientes  aguascalientes      1        01001

In [7]:
#create a new dataframe and rename the variables
df_pipethefts = df_original.rename(columns = {'year' : 'Year', 'state' : 'State', 'municipio' : 'Municipality', 'tomas' : 'Num_thefts', 'codigo inegi': 'Mun_code'})

#reorder the variables
df_pipethefts = df_pipethefts.iloc[:, [4,1,2,0,3]]
df_pipethefts

     Mun_code           State       Municipality  Year  Num_thefts
0       01001  aguascalientes     aguascalientes  2000           2
1       01001  aguascalientes     aguascalientes  2001           1
2       01001  aguascalientes     aguascalientes  2002           1
3       01001  aguascalientes     aguascalientes  2013           1
4       01001  aguascalientes     aguascalientes  2014           1
...       ...             ...                ...   ...         ...
3273    27016         tabasco              teapa  2019           1
3274    14073         jalisco  sanjuandeloslagos  2019           1
3275    20067          oaxaca     oaxacadejuarez  2019           9
3276    09006  ciudaddemexico          iztacalco  2019           2
3277    09016  ciudaddemexico      miguelhidalgo  2019           1

[3278 rows x 5 columns]

In [8]:
#Delete the rows with code 'ERROR'(not valid unique CODE)
df_pipethefts.drop(df_pipethefts[df_pipethefts['Mun_code'] == 'ERROR'].index, axis = 0, inplace = True)

# Delete the variables 'State' and 'Municipality' (We don't need that as we have the Muninicipality code)
df_pipethefts.drop(['State', 'Municipality'], axis = 1, inplace = True)

In [9]:

# Basics informations about the dataframe
print(df_pipethefts)
print(sum(df_pipethefts['Num_thefts']))
print(len(df_pipethefts))
print(df_pipethefts.describe())

     Mun_code  Year  Num_thefts
0       01001  2000           2
1       01001  2001           1
2       01001  2002           1
3       01001  2013           1
4       01001  2014           1
...       ...   ...         ...
3273    27016  2019           1
3274    14073  2019           1
3275    20067  2019           9
3276    09006  2019           2
3277    09016  2019           1

[3207 rows x 3 columns]
60879
3207
              Year   Num_thefts
count  3207.000000  3207.000000
mean   2012.043343    18.983162
std       5.186508    50.138078
min    2000.000000     0.000000
25%    2009.000000     1.000000
50%    2013.000000     4.000000
75%    2016.000000    13.000000
max    2019.000000   828.000000

In [10]:
#Find duplicated rows using Mun_code and year

duplicateDFRow = df_pipethefts[df_pipethefts.duplicated(['Mun_code','Year'], keep = False)]
duplicateDFRow

     Mun_code  Year  Num_thefts
12      08036  2000           1
14      08036  2000           2
15      08036  2002           3
51      05024  2015          13
118     11023  2003           1
...       ...   ...         ...
3144    21180  2015           4
3155    21134  2015           1
3158    11042  2015           1
3159    24032  2015           1
3173    28041  2015           2

[159 rows x 3 columns]

In [11]:
#group the database
df_pipethefts_grouped = df_pipethefts.groupby(['Mun_code','Year'], as_index=False, sort=True)['Num_thefts'].sum()
df_pipethefts_grouped

     Mun_code  Year  Num_thefts
0       01001  2000           2
1       01001  2001           1
2       01001  2002           1
3       01001  2013           1
4       01001  2014           1
...       ...   ...         ...
3122    32057  2010           1
3123    32057  2011           2
3124    32057  2012           5
3125    32057  2013           3
3126    32057  2014          12

[3127 rows x 3 columns]

In [18]:
# Year filtering and mean calculation

df_pipethefts_years_mean = df_pipethefts[df_pipethefts['Year'] >= 2010].groupby('Mun_code', as_index=False, sort=True)['Num_thefts'].mean()
df_pipethefts_years_mean

#Export df_pipethefts_years_mean to a csv file
#df_pipethefts_years_mean.to_csv

    Mun_code  Num_thefts
0      01001    5.200000
1      01006    1.000000
2      01007    1.000000
3      01009    5.000000
4      01011    2.000000
..       ...         ...
364    32017    7.000000
365    32025    4.500000
366    32036   10.666667
367    32056    1.000000
368    32057    4.600000

[369 rows x 2 columns]